#bnd_usa {
    height: 25px;
    width: 25px;
  }
  #form1 {
    border: 2px black solid;
    border-radius: 10px;
  }
  #zod {
    height: 80px;
    width: 100px;
  }
  #zood {
    border: solid green 2px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
  }
  #card_zod {
    height: 300px;
    width: 340px;
    margin: auto;
  }
  