<main>
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/aries.png" id="zod" alt="" />
          <h5 id="zood">Aries</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/leo.png" id="zod" alt="" />
          <h5 id="zood">Leo</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/sagitario.png" id="zod" alt="" />
          <h5 id="zood">Sagitario</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/tauro.png" id="zod" alt="" />
          <h5 id="zood">Tauro</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/virgo.png" id="zod" alt="" />
          <h5 id="zood">Virgo</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/capricornio.png" id="zod" alt="" />
          <h5 id="zood">Capricornio</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/geminis.png" id="zod" alt="" />
          <h5 id="zood">Geminis</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/libra.png" id="zod" alt="" />
          <h5 id="zood">Libra</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/acuario.png" id="zod" alt="" />
          <h5 id="zood">Acuario</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/cancer.png" id="zod" alt="" />
          <h5 id="zood">Cancer</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/escorpio.png" id="zod" alt="" />
          <h5 id="zood">Escorpio</h5>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <img src="../../../assets/img/piscis.png" id="zod" alt="" />
          <h5 id="zood">Piscis</h5>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="card col-md-12">
      <img
        class="card-img-top img-fluid"
        src="../../../assets/img/acuario.png"
        id="card_zod"
      />
      <div class="card-body">
        <h5 class="card-title">Acuario</h5>
        <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.acuario.amor}}<br>
          Dinero: {{a.horoscopo.acuario.dinero}}
        </p>
      </div>
    </div>
    <div class="card col-md-12">
      <img
        class="card-img-top img-fluid"
        src="../../../assets/img/aries.png"
        id="card_zod"
      />
      <div class="card-body">
        <h5 class="card-title">Aries</h5>
        <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.aries.amor}}<br>
          Dinero: {{a.horoscopo.aries.dinero}}
        </p>
      </div>
    </div>
    <div class="card col-md-12">
      <img
        class="card-img-top img-fluid"
        src="../../../assets/img/sagitario.png"
        id="card_zod"
      />
      <div class="card-body">
        <h5 class="card-title">Sagitario</h5>
        <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.sagitario.amor}}<br>
          Dinero: {{a.horoscopo.sagitario.dinero}}
        </p>
      </div>
    </div>
    <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/cancer.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Cancer</h5>
          <h3>{{a.titulo}}</h3>
          <p class="card-text">
            Amor: {{a.horoscopo.cancer.amor}} <br>
            Dinero: {{a.horoscopo.cancer.dinero}}
          </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/leo.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Leo</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.leo.amor}}<br>
          Dinero: {{a.horoscopo.leo.dinero}}
        </p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/piscis.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Piscis</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.piscis.amor}}<br>
          Dinero: {{a.horoscopo.piscis.dinero}}
        </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/escorpio.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Escorpio</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.escorpion.amor}}<br>
          Dinero: {{a.horoscopo.escorpion.dinero}}
        </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/libra.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Libra</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.libra.amor}}<br>
          Dinero: {{a.horoscopo.libra.dinero}}
        </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/geminis.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Geminis</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.geminis.amor}}<br>
          Dinero: {{a.horoscopo.geminis.dinero}}
        </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/virgo.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Virgo</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.virgo.amor}}<br>
          Dinero: {{a.horoscopo.virgo.dinero}}
        </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/tauro.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Tauro</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.tauro.amor}}<br>
          Dinero: {{a.horoscopo.tauro.dinero}}
        </p>
        </div>
      </div>
      <div class="card col-md-12">
        <img
          class="card-img-top img-fluid"
          src="../../../assets/img/capricornio.png"
          id="card_zod"
        />
        <div class="card-body">
          <h5 class="card-title">Capricornio</h5>
          <h5>{{a.titulo}}</h5>
        <p class="card-text">
          Amor: {{a.horoscopo.capricornio.amor}}<br>
          Dinero: {{a.horoscopo.capricornio.dinero}}
        </p>
        </div>
      </div>
      
  </main>
